.c1{
    position: absolute;
    z-index: 2;
    height: 3px;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: black;

}

.t1{
    position: absolute;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    top: -15px;
    color: red;

}

.b1{
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 110px;
    top: 0px;
    left: 2409px;
    background-color: rgb(215, 208, 208);

}

.c2{
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 5px;
    top: 0px;
    left: 2409px;
    background-color: black;
    

}

.b2{
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 110px;
    top: 0px;
    left: 2299px;
    background-color: rgb(215, 208, 208);

}

.c3{
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 5px;
    top: 0px;
    left: 2294px;
    background-color: black;
    
}

.t2{
    position: absolute;
    z-index: 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    left: 2330px;
    top: 1px;

}

.t3{
    position: absolute;
    z-index: 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    left: 2450px;
    top: 1px;

}